
:root {
  --stars-color: rgb(39, 204, 137);
}

p {
  color:red;
}

.dis-container {
  width: 75vw;
  height: 75vh;
  background-color: yellowgreen;
}

.info {
  display: flex;
  flex-direction: row;
  row-gap: 1em;
}

.simil-material {
  height: 20px;
}

input {
  padding-top: 10.5px;
  padding-bottom: 10.5px;
  border-radius: 5px;
  border-width: 1px;
}

input:focus {
  outline: none !important;
  border:1px solid var(--stars-color);
  /* box-shadow: 0 0 10px var(--stars-color); */
}