.sat-container {
  width: 75vw;
  height: 75vh;
  background-color: pink;
}

p {
  color: blue;
}

.info {
  display: flex;
  flex-direction: row;
  row-gap: 1em;
}

.simil-material {
  height: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.sat-img {
  width: 24px;
  height:  24px;
}

.sat-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 320px;
}

.sat-icon {
  width: calc(100% - 2em);
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}