/** Variables */

:root {
  
  --star-background-color-hover: #deb456;
  --star-background-color-clicked: #deb456;
}

#rating-logo {
  width: 280px;
  height: 280px;
}

.rating-text {
  width: 280px;
}

.MuiTypography-h2 {
  font-size: 24px;
  font-family: Inter,Helvetica,Arial,sans-serif;
  font-weight: 600;
  line-height: 29px;
  text-align: center;
}

#rating-text-above-id {
  font-size: 30px; white-space: pre-line; word-break: break-word;
}

.MuiTypography-root {
  margin: 0;
}

#rating-component {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.page {
  width: 100vw;
  height: 100vh;
  min-width: 500px;
  min-height:1000px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
}

#rating-option-result {
  width: 100%;
  height: 100%;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: antiquewhite;
}

/** Component style */

*{
  margin: 0;
  padding: 0;
  
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  /* color: #ffc700;     */
  color: var(--star-background-color-clicked);
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  /* color: #deb217;  */
  color: var(--star-background-color-hover); 
   
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  /* color: #c59b08; */
  color: var(--star-background-color-hover);
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */