.sat-testimonial-container {
  width: 100%; 
  height: 100%; 
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sat-test-buttons {
  background-color: grey;
}

#sat-test-google-button, #sat-test-video-testimonial-button {
  color:white;
}

#sat-test-video-testimonial-button {
  width: auto;
}